#http://linux-tips.org/t/prevent-modem-manager-to-capture-usb-serial-devices/284/2.

#cp rules /etc/udev/rules.d/
#sudo udevadm control --reload-rules
#sudo udevadm trigger

ATTRS{idVendor}=="0483" ATTRS{idProduct}=="5740", ENV{ID_MM_DEVICE_IGNORE}="1", OWNER="root", GROUP="dialout", MODE:="0660"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483" ATTRS{idProduct}=="5740", SYMLINK+="opencr%n"
ATTRS{idVendor}=="0483" ATTRS{idProduct}=="df11", OWNER="root", GROUP="dialout", MODE:="0660"
ATTRS{idVendor}=="fff1" ATTRS{idProduct}=="ff48", ENV{ID_MM_DEVICE_IGNORE}="1", OWNER="root", GROUP="dialout", MODE:="0660"
ATTRS{idVendor}=="10c4" ATTRS{idProduct}=="ea60", ENV{ID_MM_DEVICE_IGNORE}="1", OWNER="root", GROUP="dialout", MODE:="0660"
